recursive-include oceanbolt/com/drydock *.py
recursive-include oceanbolt/com/drydock_v3 *.py
recursive-include oceanbolt/com/entities *.py
recursive-include oceanbolt/com/entities_v3 *.py
recursive-include oceanbolt/com/portcalls *.py
recursive-include oceanbolt/com/portcalls_v3 *.py
recursive-include oceanbolt/com/tonnage *.py
recursive-include oceanbolt/com/tonnage_v3 *.py
recursive-include oceanbolt/com/congestion *.py
recursive-include oceanbolt/com/congestion_v3 *.py
recursive-include oceanbolt/com/tradeflows *.py
recursive-include oceanbolt/com/tradeflows_v3 *.py
recursive-include oceanbolt/com/polygonmanagement *.py
recursive-include oceanbolt/com/polygonmanagement_v3 *.py
recursive-include oceanbolt/com/fleetmanagement *.py
recursive-include oceanbolt/com/fleetmanagement_v3 *.py
